# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 환경변수
.env
.env.*

# Build outputs
dist/
build/

# Logs
logs
*.log
*.csv
*.out
*.pid
*.gz

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# React
react/build/

# NestJS
nest/dist/

# Others
*.swp
*.bak
